<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link rel = "stylesheet" href = "https://www.w3schools.com/lib/w3.css">
    <style>.bright {position: fixed;bottom: 0;right: 0;}.bleft {position: fixed;bottom: 0;left: 0;}</style>
</head>
<body>
<div ng-app="app" ng-controller='ctrl'>
    <div ng-show='Error!=0' class="w3-red">
        <div id="panal" class="w3-panel">
            <span ng-click="Error=0" class="w3-closebtn">&times;</span>
            <h1>Error!</h1>
            <h3>{{Error}}</h3>
        </div>
    </div>

    <div ng-show='ShowLogMenu==1;'>
        <div id="panal" class="w3-panel">
            <span ng-click="ShowLogMenu=0" class="w3-closebtn">&times;</span>
            <h3>Log Time Usage</h3>
            <input placeholder="Time of Starting" class='w3-animate-input w3-half' ng-model='From' type='text'/><br>
            <br>
            <input placeholder='Time of Ending' class='w3-animate-input w3-half' ng-model='To' type='text'/>
            <br><br>
            <input placeholder='What Where you Doing (encoded statement)' 
            class='w3-animate-input w3-half' ng-model='Statement_encoded' type='text'/><br><br>
            <button class="w3-btn" ng-click="ShowLogMenu=0;SaveTime()">Save And Close</button><br><br>            
            <button class="w3-btn" ng-click="ShowLogMenu=0">Close</button>
        </div>
    </div>
    
    <div ng-show='ShowNewStatementMenu==1;'>
        <div id="panal" class="w3-panel">
            <span ng-click="ShowNewStatementMenu=0" class="w3-closebtn">&times;</span>
            <h3>Add a new Statement (Currently not working)</h3>
            <input placeholder="The Real Statemnet (will show on the Pichart)" 
            class='w3-animate-input w3-half' ng-model='Statemnet_real' type='text'/><br>
            <br>
            <input placeholder='The Encoded Version (use it when log your time)' 
            class='w3-animate-input w3-half' ng-model='Statement_encoded_input' type='text'/>
            <br><br>
            <button class="w3-btn" ng-click="ShowNewStatementMenu=0;SaveStatement()">Save And Close</button>
            <br><br>            
            <button class="w3-btn" ng-click="ShowNewStatementMenu=0">Close</button>
        </div>
    </div>



<div class="w3-border-top w3-bottombar w3-border-black"></div>
<button class="w3-btn w3-left" ng-click="ShowLogMenu=1">Log Your Time</button>
<button class="w3-btn w3-right" ng-click="ShowNewStatementMenu=1">Add a new Statement</button>
<button class="w3-btn bright" ng-click="ShowLogMenu=1">export/import Database</button>
<button class="w3-btn bleft" ng-click="ShowLogMenu=1">Someother Fucntion</button>
<canvas id="myChart"></canvas>
<script src="/Ang.js"></script>
</body>
</html>